backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.pytest_cache/
backend/storage/
backend/.env
*.pyc

client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
